.popup-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 200px;
    z-index: 1000;
}

.preview-content {
    background: white;
    border-radius: 8px;
    max-width: 90%;
    width: 80vw;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.popup-body {
  overflow-y: auto;
  max-height: 60vh;
}

