.header {
  display: inline-block;
  width: 100%;
  height: 8vh;
  border-bottom: 1px solid #ccc;
}

.navigation {
  display: inline-block;
  overflow-y: auto; /* Enable vertical scrolling */
  width: 15%;
  height: 92vh;
  flex-shrink: 0;
}

/* Adding extra space at the bottom using ::after */
.navigation::after {
  content: "";
  display: block;
  height: 30%; /* Adds 30% empty space at the bottom */
}

.content {
  display: inline-block;
  width: 85%;
  height: 92vh;
  overflow-x: auto;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.font650 {
  font-family: "PlusJakartaSans-Regular_SemiBold", "Plus Jakarta Sans SemiBold", "Plus Jakarta Sans", sans-serif;
  font-weight: 650;
  color: #676e72;
}